@import '../../variables';

.buttons {
  display: flex;
  justify-content: space-around;

  .button-container {
    display: flex;
    align-items: center;
    color: $dark-gray;
    font-size: 13px;

    .button-icon {
      @include center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .icon-bar {
      width: 18px;
      height: 18px;
      fill: $dark-gray;
    }

    .repost {
      fill: $green;
    }

    .comment-button {
      @include button-transition;
      &:hover {
        background: #e5eff9;
        .icon-bar {
          fill: $primary;
        }
      }
    }

    .share-button {
      @include button-transition;
      &:hover {
        background: #e6f2ec;
        .icon-bar {
          fill: $green;
        }
      }
    }

    .heart-button {
      @include button-transition;
      &:hover {
        background: #f2e5eb;
        .icon-bar {
          fill: $heart;
        }
      }
    }
  }

  .comment-container {
    transition: color 0.2s;
    &:hover {
      color: $primary;
    }
  }
  .share-container {
    transition: color 0.2s;
    &:hover {
      color: $green;
    }
  }
  .heart-container {
    transition: color 0.2s;
    &:hover {
      color: $heart;
    }
  }
}

.heart-filled {
  fill: $heart !important;
}
