@import '../../variables';

.buttons {
  display: flex;
  justify-content: space-around;

  .button-container {
    @include center;
    color: $dark-gray;
    font-size: 0.9rem;
    width: 30%;

    .button-icon {
      @include center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 0.3rem;
    }

    .icon-bar {
      width: 1.1rem;
      height: 1.1rem;
      fill: $dark-gray;
    }

    .repost {
      fill: $green;
    }

    .comment-button {
      @include button-transition;
      &:hover {
        background: #e5eff9;
        .icon-bar {
          fill: $primary;
        }
      }
    }

    .share-button {
      @include button-transition;
      &:hover {
        background: #e6f2ec;
        .icon-bar {
          fill: $green;
        }
      }
    }

    .heart-button {
      @include button-transition;
      &:hover {
        background: #f2e5eb;
        .icon-bar {
          fill: $heart;
        }
      }
    }
  }

  .comment-container {
    transition: color 0.2s;
    &:hover {
      color: $primary;
    }
  }
  .share-container {
    transition: color 0.2s;
    &:hover {
      color: $green;
    }
  }
  .heart-container {
    transition: color 0.2s;
    &:hover {
      color: $heart;
    }
  }
}

.heart-filled {
  fill: $heart !important;
}
