@import '../../variables';

.nav {
  @include flex-column;
  width: 150px;
  padding-right: 6rem;
  position: fixed;

  .active {
    color: $primary;

    .icon {
      fill: $primary;
    }
  }

  .notify {
    width: 12.5rem;
  }

  .message {
    width: 10rem;
  }

  a {
    display: flex;
    padding: 0.6rem 0;
    margin: 0.3rem 0;
    border-radius: 1.25rem;
    padding-left: 1.25rem;
    color: #000;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;

    span {
      display: flex;
      align-items: center;
      margin-left: 1.25rem;
      font-size: 1.2rem;
      font-weight: 800;
    }

    &:hover {
      background-color: rgba(29, 161, 242, 0.1);
      color: $primary;

      .icon {
        fill: $primary;
      }
    }
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .logo {
    margin-top: 0.3rem;
    padding: 1.2rem 0;
    width: 1.75rem;
    height: 1.75rem;
    fill: $primary;
    padding-left: 1.3rem;
  }

  div {
    display: flex;
    width: 100%;
    padding: 0.6rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .user {
    font-size: 0.9rem;
    color: $dark-gray;
    width: 12.5rem;
  }
}
