@import '../../variables';

.nav {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-right: 100px;

  .active {
    color: $primary;

    .icon {
      fill: $primary;
    }
  }

  .message {
    width: 160px;
  }

  a {
    display: flex;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 20px;
    padding-left: 20px;
    color: #000;
    text-decoration: none;

    span {
      font-size: 18px;
      font-weight: 800;
    }

    &:hover {
      background-color: rgba(29, 161, 242, 0.1);
      color: $primary;

      .icon {
        fill: $primary;
      }
    }
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .logo {
    margin-top: 5px;
    padding: 10px 0;
    width: 30px;
    height: 30px;
    fill: $primary;
    padding-left: 20px;
  }

  div {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}
