@import '../../variables';

.register {
  @include layout;
  form {
    @include flex-column;
    @include form;

    .error {
      font-size: 0.75rem;
      color: $heart;
      align-self: flex-start;
      padding-left: 0.5rem;
      margin-bottom: 1rem;
    }

    input {
      @include form-input;
    }

    button {
      @include form-button;
    }

    @include form-label;

    .name-input {
      &:focus ~ .name-label {
        @include shrinkLabel();
      }
    }

    .username-input {
      &:focus ~ .username-label {
        @include shrinkLabel();
      }
    }

    .email-input {
      &:focus ~ .email-label {
        @include shrinkLabel();
      }
    }

    .password-input {
      &:focus ~ .password-label {
        @include shrinkLabel();
      }
    }

    .name-label,
    .username-label,
    .email-label,
    .password-label {
      @include shrink;
    }
  }
}
