@import './variables';

.App {
  margin: 0 auto;
  width: 850px;
  height: 100%;
  display: flex;

  @media (max-width: 850px) {
    .nav {
      margin-left: 50px;
      width: 50px;

      span {
        display: none;
      }

      .user {
        display: none;
      }
    }

    .body {
      margin-left: 50px;
      margin-right: auto;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .body {
    width: 600px;
    margin-left: auto;
  }

  header {
    @include border-bottom;
    padding: 0.9rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 800;
  }

  button {
    padding: 0.6rem 0.9rem;
    border-radius: 30px;
    background: $primary;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background: $disabled;
    }

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 600px) {
    .nav {
      display: none;
    }

    .body {
      width: 100%;
      min-height: 100%;
      padding-bottom: 3rem;
    }
  }
}
