@import './variables';

.App {
  margin: 0 auto;
  width: 850px;
  height: 100vh;
  display: flex;

  @media (max-width: 850px) {
    .nav {
      margin-left: 50px;
      width: 50px;

      span {
        display: none;
      }

      .user {
        display: none;
      }
    }

    .body {
      margin-left: 50px;
      margin-right: auto;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .body {
    width: 600px;
    margin-left: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  header {
    @include border-bottom;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 800;
  }

  button {
    padding: 10px 14px;
    border-radius: 30px;
    background: $primary;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background: $disabled;
    }

    &:focus {
      outline: none;
    }
  }
}
