@import './variables';

.App {
  margin: 0 auto;
  width: 850px;
  height: 100vh;
  display: flex;

  a {
    color: #000;
    text-decoration: none;
  }

  .body {
    flex: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  header {
    @include border-bottom;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 800;
  }

  button {
    padding: 12px 16px;
    border-radius: 30px;
    background: $primary;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
}
