$primary: #1da1f2;
$light-blue: #edf5fd;
$disabled: #a5d0f5;
$border-color: #e6ecf0;
$dark-gray: #657786;
$unfollow: #ba3356;
$light-gray: #f6f8fa;
$green: #5bbc6f;
$heart: #d45778;

@mixin border-bottom {
  border-bottom: 1px solid $border-color;
}

@mixin border-top {
  border-top: 1px solid $border-color;
}

@mixin border-left {
  border-left: 1px solid $border-color;
}

@mixin border-right {
  border-right: 1px solid $border-color;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: $primary;
  color: #fff;
  border-radius: 50%;
  font-size: 22px;
}

@mixin inverted-button {
  background: #fff;
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    background: $light-blue;
  }
}

@mixin post-hover {
  background: $light-gray;
  cursor: pointer;
}

@mixin header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

@mixin header-label {
  label {
    font-size: 13px;
    font-weight: 500;
    color: $dark-gray;
  }
}

@mixin header-icon {
  .icon {
    height: 18px;
    width: 18px;
    fill: $primary;
    margin-right: 30px;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-transition {
  transition: background 0.2s, fill 0.2s;
}
