$primary: #1da1f2;
$light-blue: #edf5fd;
$disabled: #a5d0f5;
$border-color: #e6ecf0;
$dark-gray: #657786;
$unfollow: #ba3356;
$light-gray: #f6f8fa;
$green: #5bbc6f;
$heart: #d45778;

@mixin border-bottom {
  border-bottom: 1px solid $border-color;
}

@mixin border-top {
  border-top: 1px solid $border-color;
}

@mixin border-left {
  border-left: 1px solid $border-color;
}

@mixin border-right {
  border-right: 1px solid $border-color;
}

@mixin layout {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  min-height: 100vh;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin form {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  padding-top: 3rem;
}

@mixin avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: $primary;
  color: #fff;
  border-radius: 50%;
  font-size: 1.4rem;
}

@mixin inverted-button {
  background: #fff;
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    background: $light-blue;
  }
}

@mixin post-hover {
  background: $light-gray;
  cursor: pointer;
}

@mixin header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

@mixin header-label {
  label {
    font-size: 13px;
    font-weight: 500;
    color: $dark-gray;
  }
}

@mixin header-icon {
  .icon {
    height: 18px;
    width: 18px;
    fill: $primary;
    margin-right: 30px;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-input {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0 1rem 1rem;
  margin: 0.5rem;
  border: none;
  @include border-bottom;

  &:focus {
    outline: none;
  }
}

@mixin form-button {
  font-size: 1rem;
  background: $primary;
  color: #fff;
  border-radius: 1.25rem;
  padding: 0.6rem;
  border: none;
  width: 6rem;
  margin-top: 0.9rem;
  margin-bottom: 3rem;
}

@mixin button-transition {
  transition: background 0.2s, fill 0.2s;
}

@mixin shrinkLabel {
  top: 0;
  font-size: 0.75rem;
  color: $dark-gray;
}

@mixin shrink {
  &.shrink {
    @include shrinkLabel();
  }
}

@mixin form-label {
  label {
    height: 0.75rem;
    align-self: flex-start;
    padding-left: 0.5rem;
    position: relative;
    font-size: 1rem;
    top: 2.2rem;
    color: $dark-gray;

    transition: 300ms ease all;
  }
}

@mixin custom-input {
  @include border-bottom;
  textarea {
    font-size: 1rem;
  }
}
