$primary: #1da1f2;
$light-blue: #edf5fd;
$disabled: #a5d0f5;
$border-color: #e6ecf0;
$dark-gray: #657786;
$unfollow: #ba3356;

@mixin border-bottom {
  border-bottom: 1px solid $border-color;
}

@mixin border-top {
  border-top: 1px solid $border-color;
}

@mixin border-left {
  border-left: 1px solid $border-color;
}

@mixin border-right {
  border-right: 1px solid $border-color;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
