@import '../../variables';

.users-body {
  @include flex-column;

  .user {
    display: flex;
    padding: 0.6rem 0.9rem 0.9rem;
    @include border-bottom;

    &:hover {
      @include post-hover;
    }

    .avatar {
      @include avatar;
    }

    .user-info {
      @include flex-column;
      flex: auto;
      padding-left: 0.6rem;

      .user-info-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.3rem;

        .title-names {
          @include flex-column;
          justify-content: center;
          font-size: 1rem;

          a {
            &:hover {
              text-decoration: underline;
            }
          }

          .title-name {
            font-weight: 700;
          }

          .title-username {
            color: $dark-gray;
          }
        }

        button {
          @include inverted-button;
          font-size: 0.9rem;
          height: 1.8rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
