.home {
  form {
    border-bottom: 10px solid #e6ecf0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: flex-end;
    }

    .textarea {
      font-family: system-ui;
      resize: none;
      padding: 10px;
      font-size: 18px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
