@import '../../variables';

.login {
  text-align: center;

  a {
    color: $dark-gray;
  }

  form {
    @include flex-column;
    align-items: center;
    padding-top: 30px;

    input {
      width: 50%;
      font-size: 16px;
      padding: 12px 0 12px 24px;
      margin: 7px;
      border-radius: 20px;
      border: 1px solid #eee;

      &:focus {
        outline: none;
      }
    }

    button {
      font-size: 18px;
      background: $primary;
      color: #fff;
      border-radius: 20px;
      padding: 10px;
      border: none;
      width: 150px;
      margin-top: 15px;
      margin-bottom: 50px;
    }
  }
}
