@import '../../variables';

.login {
  @include layout;
  text-align: center;

  header {
    text-align: left;
  }

  a {
    color: $dark-gray;
    font-size: 0.75rem;
  }

  form {
    @include flex-column;
    @include form;

    input {
      @include form-input;
    }

    @include form-label;

    .username {
      &:focus ~ .username-label {
        @include shrinkLabel();
      }
    }

    .password {
      &:focus ~ .password-label {
        @include shrinkLabel();
      }
    }

    .username-label,
    .password-label {
      @include shrink;
    }

    button {
      @include form-button;
    }
  }
}
