@import '../../variables';

.login {
  @include layout;
  text-align: center;
  a {
    color: $dark-gray;
  }

  form {
    @include flex-column;
    align-items: center;
    padding-top: 3rem;

    input {
      width: 50%;
      font-size: 1rem;
      padding: 1rem 0 1rem 1.5rem;
      margin: 7px;
      border-radius: 3rem;
      border: 1px solid #eee;

      &:focus {
        outline: none;
      }
    }

    button {
      font-size: 1.2rem;
      background: $primary;
      color: #fff;
      border-radius: 1.25rem;
      padding: 0.6rem;
      border: none;
      width: 9rem;
      margin-top: 0.9rem;
      margin-bottom: 3rem;
    }
  }
}
