@import '../../variables';

@include loader;

.profile {
  @include layout;

  .profile-nav {
    @include header;
    @include header-title;

    .profile-logout {
      @media (min-width: 600px) {
        display: none;
      }
    }

    @include header-icon;
    @include back-button;
  }

  .profile-body {
    .profile-header {
      @include flex-column;
      @include border-bottom;
      padding: 0.6rem 0.9rem 1.2rem;

      .name {
        font-size: 1.2rem;
        font-weight: 800;
      }

      .username {
        font-size: 1rem;
        font-weight: 500;
        color: $dark-gray;
      }

      .subtitle {
        margin: 0.6rem 0;
      }

      .followers {
        font-weight: 700;
        font-size: 1rem;

        span {
          font-weight: 400;
          color: $dark-gray;
          margin-right: 1.25rem;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .profile-header-top {
        display: flex;
        justify-content: space-between;

        .profile-names {
          @include flex-column;
        }

        .header-buttons {
          button {
            @include inverted-button;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
          }

          .following {
            background: $primary;
            color: #fff;
          }
        }
      }
    }

    .editing {
      @include border-bottom;
      padding: 0.9rem;

      form {
        @include flex-column;

        input {
          border: none;
          padding: 0.3rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $dark-gray;
          }
        }

        button {
          width: 4.5rem;
          margin: 0 auto;
        }
      }
    }
  }
}
