@import '../../variables';

.profile {
  @include layout;
  .profile-nav {
    @include header;

    .header-title {
      @include flex-column;
      @include header-label;
      flex: auto;

      span {
        font-size: 1.3rem;
      }

      label {
        font-size: 0.9rem;
      }

      @media (max-width: 600px) {
        span {
          font-size: 1.2rem;
        }
        label {
          font-size: 0.9rem;
        }
      }
    }

    @include header-icon;

    .back-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .profile-body {
    .profile-header {
      @include flex-column;
      @include border-bottom;
      padding: 0.6rem 0.9rem 1.2rem;

      .name {
        font-size: 1.2rem;
        font-weight: 800;
      }

      .username {
        font-size: 1rem;
        font-weight: 500;
        color: $dark-gray;
      }

      .subtitle {
        margin: 0.6rem 0;
      }

      .followers {
        font-weight: 700;
        font-size: 1rem;

        span {
          font-weight: 400;
          color: $dark-gray;
          margin-right: 1.25rem;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .profile-header-top {
        display: flex;
        justify-content: space-between;

        .profile-names {
          @include flex-column;
        }

        .header-buttons {
          button {
            @include inverted-button;
            padding: 0.6rem 0.8rem;
            font-size: 1rem;
          }

          .following {
            background: $primary;
            color: #fff;
          }
        }
      }
    }

    .editing {
      @include border-bottom;
      padding: 0.9rem;

      form {
        @include flex-column;

        input {
          border: none;
          padding: 0.3rem;

          &:focus {
            outline: none;
          }
        }

        button {
          width: 4.5rem;
          margin: 0 auto;
        }
      }
    }
  }
}
