@import '../../variables';

.profile {
  .profile-nav {
    @include header;

    .header-title {
      @include flex-column;
      flex: auto;

      span {
        font-size: 20px;
      }

      @include header-label;
    }

    @include header-icon;

    .back-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .profile-body {
    .profile-header {
      @include flex-column;
      @include border-bottom;
      padding: 10px 15px 20px;

      .name {
        font-size: 19px;
        font-weight: 800;
      }

      .username {
        font-size: 15px;
        font-weight: 500;
        color: $dark-gray;
      }

      .subtitle {
        margin: 10px 0;
      }

      .followers {
        font-weight: 700;
        font-size: 15px;

        span {
          font-weight: 400;
          color: $dark-gray;
          margin-right: 20px;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .profile-header-top {
        display: flex;
        justify-content: space-between;

        .profile-names {
          @include flex-column;
        }

        .header-buttons {
          button {
            @include inverted-button;
            padding: 8px 12px;
            font-size: 15px;
          }

          .following {
            background: $primary;
            color: #fff;
          }
        }
      }
    }

    .editing {
      @include border-bottom;
      padding: 15px;

      form {
        @include flex-column;

        input {
          border: none;
          padding: 5px;

          &:focus {
            outline: none;
          }
        }

        button {
          width: 70px;
          margin: 0 auto;
        }
      }
    }
  }
}
