@import '../../variables';

.profile {
  .profile-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .header-title {
      @include flex-column;
      flex: auto;

      span {
        font-size: 20px;
      }

      label {
        font-size: 15px;
        font-weight: 500;
        color: $dark-gray;
      }
    }

    .icon {
      height: 18px;
      width: 18px;
      fill: $primary;
      margin-right: 30px;
    }

    .back-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .profile-body {
    .profile-header {
      @include flex-column;
      @include border-bottom;
      padding: 10px 15px 20px;

      .name {
        font-size: 19px;
        font-weight: 800;
      }

      .username {
        font-size: 15px;
        font-weight: 500;
        color: $dark-gray;
      }

      .subtitle {
        margin: 10px 0;
      }

      .followers {
        font-weight: 700;

        span {
          font-weight: 400;
          color: $dark-gray;
          margin-right: 20px;
        }
      }

      .profile-header-top {
        display: flex;
        justify-content: space-between;

        .profile-names {
          @include flex-column;
        }

        .header-buttons {
          button {
            background: #fff;
            border: 1px solid $primary;
            color: $primary;

            &:hover {
              background: $light-blue;
            }
          }

          .following {
            background: $primary;
            color: #fff;
          }
        }
      }
    }
  }
}
