@import '../../variables';

.comments {
  @include flex-column;
  font-size: 15px;

  .back-button {
    &:hover {
      cursor: pointer;
    }
  }

  header {
    display: flex;
    align-items: center;
  }

  .icon {
    height: 18px;
    width: 18px;
    fill: $primary;
    margin-right: 20px;
  }

  .post-head {
    @include flex-column;
    @include border-bottom;
    padding: 10px 15px 5px 15px;

    .post-head-header {
      display: flex;
      margin-bottom: 10px;

      .avatar {
        @include center;
        width: 50px;
        height: 50px;
        background: $primary;
        color: #fff;
        border-radius: 50%;
        font-size: 22px;
      }

      .titles {
        @include flex-column;
        padding-left: 10px;
        justify-content: center;

        .name {
          font-weight: 700;
        }

        .username {
          font-weight: 500;
          color: $dark-gray;
        }
      }
    }

    .reply-to {
      font-weight: 500;
      color: $dark-gray;
    }

    .comments {
      padding: 10px 0;
      font-size: 24px;
    }

    .time {
      color: $dark-gray;
      padding-bottom: 15px;
      margin-bottom: 5px;
      @include border-bottom;
    }
  }
  .commenting {
    @include flex-column;
    @include border-bottom;
    padding: 10px 0;
    align-items: center;

    .comment-text {
      margin: 0 auto;
      width: 90%;
      font-family: system-ui;
      resize: none;
      padding: 10px;
      font-size: 14px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px;
      font-size: 14px;
    }
  }
}
