.comments {
  display: flex;
  flex-direction: column;

  .back-button {
    &:hover {
      cursor: pointer;
    }
  }

  header {
    display: flex;
    align-items: center;
  }

  .icon {
    height: 18px;
    width: 18px;
    fill: dodgerblue;
    margin-right: 20px;
  }

  .post-head {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 5px 30px;
    border-bottom: 1px solid #e6ecf0;

    .name {
      font-weight: 700;
    }

    .username {
      color: #657786;
    }

    .comments {
      padding: 10px 0;
      font-size: 24px;
    }

    .time {
      color: #657786;
      padding-bottom: 15px;
      margin-bottom: 5px;
      border-bottom: 1px solid #e6ecf0;
    }
  }
  .commenting {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;

    .comment-text {
      margin: 0 auto;
      width: 90%;
      font-family: system-ui;
      resize: none;
      padding: 10px;
      font-size: 14px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px;
      font-size: 14px;
    }
  }
}
