@import '../../variables';

.users-body {
  @include flex-column;

  .user {
    display: flex;
    padding: 10px 15px 15px;
    @include border-bottom;

    &:hover {
      @include post-hover;
    }

    .avatar {
      @include avatar;
    }

    .user-info {
      @include flex-column;
      flex: auto;
      padding-left: 10px;

      .user-info-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .title-names {
          @include flex-column;
          justify-content: center;
          font-size: 15px;

          a {
            &:hover {
              text-decoration: underline;
            }
          }

          .title-name {
            font-weight: 700;
          }

          .title-username {
            color: $dark-gray;
          }
        }

        button {
          @include inverted-button;
          font-size: 15px;
          height: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
