@import '../../variables';

.post {
  font-size: 1rem;
  @include flex-column;

  button {
    &:focus {
      outline: none;
    }
  }

  .details {
    display: flex;

    .name {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .username,
    .time {
      color: $dark-gray;
    }

    span {
      margin-right: 0.3rem;
    }

    .edit-buttons {
      margin-left: auto;
      display: flex;

      .edit-button {
        height: 1.2rem;
        width: 1.2rem;
        margin-left: 0.6rem;
        fill: #fff;

        &:hover {
          fill: $primary;
        }
      }
    }
  }

  .main {
    @include flex-column;
    @include border-bottom;
    padding: 0.6rem 0.9rem 0.9rem 0.9rem;
    transition: background 0.2s;

    &:hover {
      @include post-hover;

      .edit-button {
        fill: $dark-gray;
      }
    }

    .repost-info {
      padding-left: 2rem;
      font-size: 0.8rem;
      color: $dark-gray;
      margin-bottom: 0.3rem;
      display: flex;
      align-items: center;

      .repost-icon {
        height: 0.9rem;
        width: 0.9rem;
        fill: $dark-gray;
        margin-right: 0.9rem;
      }
    }

    .repost-hide {
      display: none;
    }

    .main-body {
      display: flex;

      .avatar {
        @include avatar;
      }

      .container-body {
        flex: auto;
        margin-left: 0.6rem;

        .content {
          margin: 0.6rem 0;
          max-width: 500px;
          word-wrap: break-word;
        }
      }

      .reply-to {
        margin-top: 0.3rem;
        color: #657786;
      }
    }
  }

  .commenting {
    @include flex-column;
    @include border-bottom;
    padding: 0.6rem 0 0.9rem 0;
    align-items: center;

    .comment-text {
      margin: 0 auto;
      width: 90%;
      font-family: system-ui;
      resize: none;
      padding: 0.6rem;
      font-size: 0.9rem;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 0.6rem;
      font-size: 0.9rem;

      &:disabled {
        background: $disabled;
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    font-size: 2rem;
  }
}
