@import '../../variables';

.post {
  font-size: 15px;
  @include flex-column;

  button {
    &:focus {
      outline: none;
    }
  }

  .details {
    display: flex;

    .name {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .username,
    .time {
      color: $dark-gray;
    }

    span {
      margin-right: 5px;
    }

    .edit-buttons {
      margin-left: auto;
      display: flex;

      .edit-button {
        height: 18px;
        width: 18px;
        margin-left: 10px;
        fill: #fff;

        &:hover {
          fill: $primary;
        }
      }
    }
  }

  .main {
    @include flex-column;
    @include border-bottom;
    padding: 10px 15px 5px 15px;

    &:hover {
      background: #f6f8fa;
      cursor: pointer;

      .edit-button {
        fill: $dark-gray;
      }
    }

    .main-body {
      display: flex;

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: $primary;
        color: #fff;
        border-radius: 50%;
        font-size: 22px;
      }

      .container-body {
        flex: auto;
        margin-left: 10px;

        .content {
          margin: 10px 0;
        }
      }

      .reply-to {
        margin-top: 5px;
        color: #657786;
      }
    }
  }

  .commenting {
    @include flex-column;
    @include border-bottom;
    padding: 10px 0 15px 0;
    align-items: center;

    .comment-text {
      margin: 0 auto;
      width: 90%;
      font-family: system-ui;
      resize: none;
      padding: 10px;
      font-size: 14px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px;
      font-size: 14px;
    }
  }
}
