@import '../../variables';

.post {
  font-size: 15px;
  @include flex-column;

  button {
    &:focus {
      outline: none;
    }
  }

  .details {
    display: flex;

    .name {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .username,
    .time {
      color: $dark-gray;
    }

    span {
      margin-right: 5px;
    }

    .edit-buttons {
      margin-left: auto;
      display: flex;

      .edit-button {
        height: 18px;
        width: 18px;
        margin-left: 10px;
        fill: #fff;

        &:hover {
          fill: $primary;
        }
      }
    }
  }

  .main {
    @include flex-column;
    @include border-bottom;
    padding: 10px 15px 5px 15px;
    transition: background 0.2s;

    &:hover {
      @include post-hover;

      .edit-button {
        fill: $dark-gray;
      }
    }

    .repost-info {
      padding-left: 30px;
      font-size: 13px;
      color: $dark-gray;
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      .repost-icon {
        height: 15px;
        width: 15px;
        fill: $dark-gray;
        margin-right: 15px;
      }
    }

    .repost-hide {
      display: none;
    }

    .main-body {
      display: flex;

      .avatar {
        @include avatar;
      }

      .container-body {
        flex: auto;
        margin-left: 10px;

        .content {
          margin: 10px 0;
        }
      }

      .reply-to {
        margin-top: 5px;
        color: #657786;
      }
    }
  }

  .commenting {
    @include flex-column;
    @include border-bottom;
    padding: 10px 0 15px 0;
    align-items: center;

    .comment-text {
      margin: 0 auto;
      width: 90%;
      font-family: system-ui;
      resize: none;
      padding: 10px;
      font-size: 14px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px;
      font-size: 14px;

      &:disabled {
        background: $disabled;
      }
    }
  }
}
