@import '../../variables';

.home {
  @include layout;
  form {
    @include flex-column;
    position: relative;
    border-bottom: 0.6rem solid #e6ecf0;
    padding: 0.9rem 1.25rem;

    div {
      display: flex;
      justify-content: flex-end;
    }

    .textarea {
      width: 100%;
      font-family: system-ui;
      resize: none;
      padding: 0.9rem;
      font-size: 1.2rem;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
