@import '../../variables';

.home {
  @include layout;
  .custom-input {
    border-bottom: 0.6rem solid $border-color;
  }

  .loader {
    @include center;
    padding-top: 10rem;
    width: 100%;
  }
}
