.home {
  form {
    border-bottom: 10px solid #e6ecf0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 12px 16px;
        border-radius: 30px;
        background: dodgerblue;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
    }

    input {
      padding: 10px;
      font-size: 18px;
      border: none;

      &::placeholder {
        color: #ddd;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
